#nav{
    display: flex;
    width: 80%;
    height: 44px;
    color: grey;
    margin-left: 12%;
    border-style: solid;
    border-top: none;
    border-width: 1px;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;  
}
#nav>a{
    color: grey;
    padding: 20px;
    border-style: solid;
    border-top: none;
    border-width: 1px;
    border-left: none;
    border-bottom: none;
    
}
#nav>img{
    width: 25px;
    height: 25px;
    
}
#nav>a>img{
    width: 15px;
    height: 15px;  
}
input{
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 1px;
    margin-left:30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#second{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
}
#second>a{
    padding: 20px;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
#second>h3{
 color: grey;
}
 /* 1st dropdown */


#navbar{
    width: 80%;
    display: flex;
    height: 35px;
    margin-left: 12%;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;    
}
#navbar>img{
    width: 25px;
    height: 25px;
}
#navbar>a{
    text-decoration: none;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

#bt1{
    margin-left: 20px;
    height: 35px;
    padding: 10px;
    background-color: darkblue;
    border: none;
    border-radius: 5px;
    
}

#bt1>a{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#bt2{
    padding: 10px;
    height: 35px;
    background-color: gold;
    border: none;
    border-radius: 5px;
}

#bt2>a{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
#bt3{
    padding: 10px;
    height: 35px;
    background-color:none;
    border: solid blue 1px;
    border-radius: 5px;
}
#bt3>a{
    color: blue;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box1{
    position: relative;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
/* 1st list */
.news{
    color: grey;
    font-size: 16px;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .list{
    display: none;
    position:relative;
    width: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .list>a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  #box1:hover .list {
    display: block;
  }

  #box2{
    position: relative;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  /* 2nd list */
  .opinion{
    color: grey;
    font-size: 16px;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .list2{
    display: none;
    position:relative;
    background-color: white;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .list2>a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #box2:hover .list2 {
    display: block;
  }
  
  /* 3rd list */

  #box3{
    position: relative;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .buisness{
    color: grey;
    font-size: 16px;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .list3{
    display: none;
    position: relative;
    background-color: white;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .list3>a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #box3:hover .list3 {
    display: block;
    
  }
  
  /* 4th list */

  #box4{
    position: relative;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .sport{
    color: grey;
    font-size: 16px;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white
  }

  .list4{
    display: none;
    position: relative;
    background-color: white;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .list4>a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 
  #box4:hover .list4 {
    display: block;
  }

  /* 5th list */
  #box5{
    position: relative;
    display:inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .entertainment{
    color: grey;
    font-size: 16px;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .list5{
    display: none;
    position: relative;
    background-color: white;
    min-width: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .list5>a{
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 
  #box5:hover .list5 {
    display: block;
  }

  #bottom{
    display: flex;
    gap: 20px;
    width: 80%;
    height: auto;
    font-size: 14px;
    margin-left: 12%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #bottom>p{
    color: red;
    margin-top: 0px;
  }
 #bottom>a{
  text-decoration: none;
  color: gray;
 }
 #bottom>a>img{
  width: 110px;
  height: auto;
 }

 #boxe1{
  display: flex;
  width: 80%;
  gap: 20px;
  height: 550px;
  margin-left: 12%;
 }
 #suB1{
  width: 350px;
  height: 550px;
 }
 #boxe2{
  width: 100%;
  color: white;
  height: 400px;
  background-color: rgb(21, 21, 136);
  margin-bottom: 20px;
 }
 #boxe2>img{
  width: 100%;
  height: 50%;
 }

 .issue{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  color: black;
  width: 100%;
  height: 120px;
  background-color:whitesmoke;
  margin-bottom: 20px;
 }
 .image>img{
  width: 130px;
  height: 120px;
 }
 .issue2{
  width: 260px;
  padding-left: 5px;
 }


 #suB2{
  width: 350px;
  height: 800px;
 }

.issue>.issue2>h4{
  color: blue;
}
 #bo2{
  width: 350px;
  height: 800px;
 }

 #bo2>#sub3{
  width: 100%;
  height: 280px;
 }
 #sub3>img{
  width: 280px;
  height: 260px;
 }
 .Box2>img{
  width: 280px;
  height: 120px;
  margin-bottom: 15px;
 }
 #imG{
  display: flex;
  margin-left: 12%;
  width: 80%;
  height: 300px;
  gap: 20px;
 }
 #imG>img:nth-child(1){
  width: 72%;
  height: 100%;
 }
 #imG>img:nth-child(2){
  width: 26%;
  height: 100%;
 }
 #second{
  display: flex;
  width: 80%;
  margin-left:12%;
  height: auto;
  gap: 20px;
 }
 #second>div{
  width: 25%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
 }
 #second>div>img{
  width: 100%;
  height: 200px;
 }
 #second>div>p{
  padding: 5px;
 }
 #second>div>h6{
  color: grey;
 }
 #center{
  padding: 10px;
  width: 650px;
  height: 150px;
 }

 #third{
  display: flex;
  width: 80%;
  margin-left:12%;
  height: auto;
  gap: 20px;
 }
 #third>div{
  width: 25%;
  height: auto;
 }
 #third>div>img{
  width: 100%;
  height: 200px;
 }
 #third>div>p{
  color: grey;
 }

 #line{
  display: flex;
  width: 80%;
  height: auto;
  margin-left:12%;
  color: rgb(11, 5, 41);
 }
#line>div:nth-child(2){
  height: 40px;
  width: 75%;
  border-bottom: 1px solid black;
}
#line>div:nth-child(3){
  display: flex;
  margin-left: 10px;
  gap: 5px;
  padding-top: 5px;
}
#line>div>img{
  width: 40px;
  height: 40px;
}

#line2{
  display: flex;
  width: 80%;
  height: auto;
  margin-left:12%;
  color: rgb(45, 32, 107);
 }
#line2>div:nth-child(2){
  height: 40px;
  margin-left: 10px;
  width: 83%;
  border-bottom: 1px solid black;
}
#line2>div>h5{
  color: grey;
}

#fifth{
  width: 80%;
  margin-left: 12%;
  height: auto;
  display: flex;
}
#fibox{
  display: flex;
  gap: 20px;
}
#fibox>div{
  width: 200px;
  padding:0px 5px 0px 7px;
}
#fibox>div:nth-child(2){
  background-color: rgb(37, 37, 100);
  color: white;
}
#fibox>div:nth-child(3){
  background-color: rgb(37, 37, 104);
  color: white;
}

#child{
  width: 300px;
  height: 200px;
  
}
#child>div:nth-child(1){
  background-color: rgb(243, 239, 239);
}
#child>div>div>h4{
  color: rgb(40, 40, 109);
}

#cartoon{
  width: 100%;
  height: 210px;
}
#car{
  background-color: grey;
}
#car>h5{
  padding-left: 5px;
  color: white;
  padding-top: 10px;
}
#fiBox2{
  display: flex;
  padding: 20px;
  gap :20px
}
#childbox{
  width: 340px;
}
#right{
  width:300px;
}
#rightp{
  border-style: dotted 1px solid black;
}
